@font-face {
  font-family: 'Tajawal';
  src: url('/Fonts/Tajawal-Regular.woff2') format('woff2'),
       url('/Fonts/Tajawal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tajawal', sans-serif;
  background: #f9f9f9;
  margin: 0.5px;
  padding: 0;
  direction: rtl;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0d1a26;
  color: white;
  font-family: 'Tajawal', sans-serif;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFD700;
}

.logo-text a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFD700;
}

.ad {
  width: 100%;
}

.logo-text img {
  height: 70px;
}

.logo-text span {
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background: #1F5463;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #04AA6D;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo-text {
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav-links {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.cta {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.cta p {
  display: inline-block;
  padding: 1rem 2rem;
  background: #0d1a26;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.social-icons a img {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #0d1a26;
  color: #fff;
  direction: ltr;
}

.ad-banner {
  display: flex;
  justify-content: center;
  margin: 1px 1px;
}

.ad-banner img {
  width: 80%;
  max-width: 700px; /* you can adjust this max */
  height: auto;
  border-radius: 10px;
}
