@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal-Regular.woff2') format('woff2'),
        url('Tajawal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

